#basket-wrapper {
    width: 300px;
    flex-grow: 1;
    padding: 16px;
    box-shadow: -5px 0px 4px 1px var(--basket-side-shadow);
}

#basket {
    width: 100%;
    position: sticky;
    top: 0;
}

.basket-header-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 16px;
}

#basket-order-section {
    max-height: 660px;
    overflow-y: auto;
}

.basket-dish-object-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;

    & .trash-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .trash-img-container:hover {
        cursor: pointer;
    }

    & img {
        width: 28px;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

    & .basket-plus-minus {
        color: var(--standard-orange);
        font-size: 40px;
        font-weight: 400;
    }

    & .basket-plus-minus:hover {
        cursor: pointer;
    }

    & .high-minus {
        padding-bottom: 4px;
    }

    & .basket-dish-order-table {
        width: 100%;
        text-align: center;
    }
}

#basket-bill-section {
    border-top: 2px solid var(--border-color);
}

.sum-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.delivery-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 8px;
}

#mobile-basket-section {
    padding: 16px;
}

#mobile-basket-container {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-text);
    padding: 16px;
    overflow: hidden !important;
}

#mobile-basket-order-section {
    max-height: 660px;
    overflow-y: auto;
}

#mobile-basket-bill-section {
    border-top: 2px solid var(--border-color);
}

@media (max-width: 770px) {
    #basket-wrapper {
        display: none;
    }

    #content {
        width: 100% !important;
    }

    #show-mobile-basket-btn {
        display: block;
    }
}
