a:hover {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--standard-orange);
}

footer {
    background-color: var(--standard-orange);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--standard-orange);
}

.header-and-footer-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-and-footer-img {
    height: 64px;
    width: auto;
    object-fit: contain;
    object-position: center;
}

.aot-section {
    position: relative;
}

#small-aot-img {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--border-color);
    border-radius: 50%;
}

main {
    min-height: 100vh;
}

#content-wrapper {
    display: flex;
    height: 100%;
}

#content {
    width: calc(100% - 300px);
}

#aot-img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#restaurant-name-and-rating-container {
    padding: 16px;

    & h2 {
        margin-bottom: 8px;
        font-weight: 800;
    }
}

#rating-text {
    color: var(--standard-orange);
    font-weight: 600;
    margin-top: 16px;
}

.category-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: var(--category-bg);
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    & h3 {
        color: var(--category-text);
    }
}

#main-dish-section {
    padding: 16px;
}

.dishes-head-container {
    & img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        object-position: center;
    }

    & .dishes-headline-container {
        padding: 16px;
    }
}

.dish-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    border: 1px solid var(--border-color);
    margin-bottom: 16px;

    & p {
        font-weight: 600;
    }

    & .dish-price {
        color: var(--standard-orange);
        font-weight: 800;
    }
}

.dish-container:hover {
    cursor: pointer;
    background-color: var(--dishes-hover-bg);
}

.dish-name-and-plus-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & h2 {
        margin-top: 16px;
    }
}

.plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    width: 40px;
    height: 40px;

    & .dishes-plus {
        color: var(--standard-orange);
        font-size: 56px;
        font-weight: 400;
    }
}

#dessert-section {
    padding: 16px;
}

@media (max-width: 470px) {
    #small-aot-img {
        width: 70px;
    }
}
